.columns {
  display: grid;
  gap: 4rem;
}

.textColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.list {
  padding: 0;
  margin-top: 2rem;
  list-style-type: none;
  align-items: center;
}

.bullet {
  display: flex;
  gap: 0.8rem;
  align-items: center;
  text-align: left;
  font-size: var(--font-size-large);
  font-weight: var(--ifm-font-weight-semibold);
  padding-bottom: 0.5rem;
}

.bullet:before {
  content: "";
  width: 0.4rem;
  height: 0.6rem;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  background-image: url("/img/pages/cloud/list-bullet-arrow.svg?inline");
  background-color: transparent;
}

.startBuildingRoot {
  display: grid;
  grid-auto-flow: row;
  gap: 2rem;
  grid-template-areas:
    "start-building-button"
    "actions"
    "instance-details-image"
    "instance-metrics-image";
}

.startBuildingImage {
  width: 100%;
  max-width: 510px;
  height: auto;
  margin: auto;
  border-radius: 8px;
  box-shadow: 0 20px 50px 0 rgb(91 95 121 / 37%);
  border: 1px solid #3e3e37;
}

:global(html[data-theme="light"]) .startBuildingImage {
  box-shadow: 0 20px 50px 10px rgba(0, 0, 0, 0.1);
  border: 1px solid #eaeaea;
  filter: brightness(1.3) contrast(0.9);
}

.instanceDetailsImage {
  grid-area: instance-details-image;
}

.instanceMetricsImage {
  grid-area: instance-metrics-image;
}

.startBuildingButton {
  justify-self: center;
  grid-area: start-building-button;
}

.startBuildingCredits {
  justify-self: center;
}

.actions {
  grid-area: actions;
}

@media (min-width: 730px) {
  .columns {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    padding-top: 6rem;
    padding-bottom: 6rem;
  }

  .textColumn {
    align-items: flex-start;
    text-align: left;
  }

  .startBuildingRoot {
    grid-template-areas:
      "instance-details-image"
      "instance-metrics-image"
      "start-building-button"
      "actions";
  }
}
