.header,
.markdown,
.footer {
  max-width: 700px;
  margin: 0 auto;
  padding: 0 1rem;
}

.title {
  font-size: 2rem;
}

.title a {
  color: var(--theme-text-color);
}

@media (min-width: 700px) {
  .title {
    font-size: 3rem;
  }
}

.header {
  padding-top: 2rem;
  border-bottom: 2px solid var(--ifm-hr-border-color);
}

.date {
  font-size: 0.9rem;
}

.avatar {
  margin: 1rem 0;
  display: grid;
  grid-template-columns: 45px auto;
  grid-template-rows: 1fr 1fr;
  gap: 0 1rem;
}

.avatarPhoto {
  grid-column: 1;
  grid-row: 1 / span 2;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  overflow: hidden;
}

.avatarName {
  font-size: 1.4rem;
  margin: 0;
}

.readMore {
  margin-left: auto;
}

.markdown h2 {
  font-size: 2.2rem;
}

.markdown h3 {
  font-size: 2rem;
}

.markdown h4 {
  font-size: 1.8rem;
}

.markdown h5 {
  font-size: 1.6rem;
}

.markdown h6 {
  font-size: 1.4rem;
}

.markdown {
  font-size: 1.2rem;
}

.footer {
  display: grid;
  padding-top: 1rem;
}

.tags {
  display: flex;
  gap: 0.5rem;
  padding-top: 4rem;
}

.tagsList {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  list-style: none;
  margin: 0;
  padding: 0;
}
