.root {
  --cols: 1;
  --gap: 4rem;
  --col-width: 380px;
  display: grid;
  gap: var(--gap);
  grid-template-columns: repeat(var(--cols), minmax(0, var(--col-width)));

  margin-bottom: 1rem;
}

@media screen and (min-width: 900px) {
  .root {
    --cols: 3;
    --gap: 1rem;
    --col-width: 1fr;
  }
}

@media screen and (min-width: 1100px) {
  .root {
    --gap: 2rem;
  }
}
