.root {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

:global(html[data-theme="light"]) .root svg {
  filter: invert(1);
}

.calendly {
  height: 49.3rem;
}

@media screen and (max-width: 1074px) {
  .calendly {
    height: 75.3rem;
  }
}
