.root {
  display: grid;
  gap: 1rem;
  grid-auto-flow: row;
  justify-content: center;
  text-align: center;
  margin-bottom: 4rem;
}

:global(html[data-theme="light"]) .root svg {
  filter: invert(1);
}

.contactButtons {
  display: flex;
  gap: 1rem;
}

.calendly {
  height: 49.3rem;
}

@media screen and (max-width: 1074px) {
  .calendly {
    height: 75.3rem;
  }
}
