.root {
  --gap: 0.5rem;

  display: flex;
  gap: var(--gap);

  background-color: var(--theme-card-secondary-bg-color);
  border: none;
  border-radius: 6px;

  padding: 0.5rem 1rem;
  color: var(--palette-pale-blue);
}

.option {
  display: flex;
  border-radius: 6px;
  padding: 0.1rem 0.5rem;
  position: relative;
}

.label {
  cursor: pointer;
  user-select: none;
}

.input {
  position: absolute;
  height: 0;
  width: 0;
  opacity: 0;
}

.option:has(input:focus) {
  box-shadow: 0 0 0 4px rgba(209, 70, 113, 0.25);
}

.active {
  background-color: var(--palette-pink);
  color: var(--theme-text-color);
}
