.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  flex: 0 1 30%;
  min-width: 60px;
  max-width: 100px;
}

.optionContent {
  display: flex;
  gap: 1rem;
}

.image {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #323440;
  border-radius: 6px;
  width: 100%;
  height: 60px;
}

.image img {
  object-fit: contain;
}

.selected {
  border-color: #d14671;
}

.comingSoon {
  font-size: 10px;
}

:global(html[data-theme="light"]) .image img {
  filter: invert(1);
}
